.navbar {
    background-color: rgb(19, 17, 17);
}
.navbar .container-fluid .navbar-brand {
    color: rgb(255, 255, 255);
}
.navbar .container-fluid .nav-link {
    color: rgb(255, 255, 255);
    margin-left: 10px;
}
.navbar .container-fluid .nav-link:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: 0.2s;
}
.navbar-toggler {
    color: rgba(255, 255, 255, 0.567);
    background-color: rgba(255, 255, 255, 0.125);
}
nav .logo_container {
    margin-left: 30px;
    margin-right: 30px;
}
nav .logo {
    width: 40px;
    text-align: center;
}
nav .audio {
    position: absolute;
    top: 23px;
    right: 100px;
}
nav .audio audio {
    display: none;
    width: 300px;
    height: 20px;
}
.header-container .carousel-item {
    height: 600px;
}
.title-gallery {
    font-size: 30px;
    font-family: calibri light;
    text-align: center;
    padding: 30px;
    color:rgb(255, 255, 255);
    background-color: rgb(19, 17, 17);
}
.containerGallery .carousel-inner {
    padding: 25px;
    background-color: rgb(19, 17, 17);
}
.containerGallery .card {
    display: inline-flex;
    justify-content: center;
    margin: 20px;
    width: 15rem;
    background-position: center;
    background-size: cover;
}
.containerGallery .card {
    text-align: center;
    color:rgb(255, 255, 255);
}
.containerGallery .carousel-item {
    text-align: center;
}